.header {
	padding: 80px; /* some padding */
	text-align: center; /* center the text */
	background: #14213D; 
	color: white; /* white text color */
	font-size: 40px;
}

/* Increase the font size of the <h1> element */
.header h1 {
	font-size: 60px;
}

.poem  {
	font-size: 20px;
	text-align: center; /* center the text */
	background: #FCA311; 
	color: black;
}

