*, body {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: #34466A;
}

.header h1 {
    color: #f0f0f0;
}

.root {
    padding: 50px;
    padding-left: 20px;
    background-color: #7A574D;
    color: #f0f0f0;
    font-size: 1.3rem;
}
